body{
    margin: 0;
    padding :0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #3b2618;
    
}
h1{
    text-align: center;
    font-size: 50;
    color:#8b451f;
    font-style: italic;
    margin: 40px;
}
body > p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#765f4b;
    line-height:1.6;
    padding: 0 20px;
}

.order-button{
    grid-column: 2;
    grid-row: 3;
    width : fit-content;
    padding: 5px 15px;
    border: 1px solid #8b451f;
    border-radius: 20px;
    background-color:#c9ad7a ;
    color:#8b451f;
}

.starter-menu{

    margin: 30px auto;
    padding:40px;
    background-color:white ;
    border-left: 2px solid #c9ad7a;
    border-right: 2px solid #c9ad7a;
}
.starter-menu h2 {
    text-align: center;
    color:#8b451f;
    font-size: 30px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 20px;
}



.starter-item img{
    width :110px;
    height: 90px;
    object-fit:cover;
    border-radius:8px;
    grid-column:1;
    grid-row: 1 / 4;
}

.starter-item .price{
    grid-column: 3;
    grid-row: 1;
    font-weight: bold;
    color:#8b451f
}
.starter-item{
    display: grid;
    grid-template-columns: 120px 1fr auto;
    grid-template-rows: auto auto auto;
    column-gap: 20px;
    padding: 20px 0;
    border-bottom: 1px dotted #999;
}


.main-menu{

    margin: 30px auto;
    padding:40px;
    background-color:white ;
    border-left: 2px solid #c9ad7a;
    border-right: 2px solid #c9ad7a;
}
.main-menu h2 {
    text-align: center;
    color:#8b451f;
    font-size: 30px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 20px;
}



.main-item img{
    width :110px;
    height: 90px;
    object-fit:cover;
    border-radius:8px;
    grid-column:1;
    grid-row: 1 / 4;
}

.main-item .price{
    grid-column: 3;
    grid-row: 1;
    font-weight: bold;
    color:#8b451f
}
.main-item{
    display: grid;
    grid-template-columns: 120px 1fr auto;
    grid-template-rows: auto auto auto;
    column-gap: 20px;
    padding: 20px 0;
    border-bottom: 1px dotted #999;
}


.dessert-menu{

    margin: 30px auto;
    padding:40px;
    background-color:white ;
    border-left: 2px solid #c9ad7a;
    border-right: 2px solid #c9ad7a;
}
.dessert-menu h2 {
    text-align: center;
    color:#8b451f;
    font-size: 30px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 20px;
}

.dessert-item img{
    width :110px;
    height: 90px;
    object-fit:cover;
    border-radius:8px;
    grid-column:1;
    grid-row: 1 / 4;
}

.dessert-item .price{
    grid-column: 3;
    grid-row: 1;
    font-weight: bold;
    color:#8b451f
}
.dessert-item{
    display: grid;
    grid-template-columns: 120px 1fr auto;
    grid-template-rows: auto auto auto;
    column-gap: 20px;
    padding: 20px 0;
    border-bottom: 1px dotted #999;
}



.beverage-menu{

    margin: 30px auto;
    padding:40px;
    background-color:white ;
    border-left: 2px solid #c9ad7a;
    border-right: 2px solid #c9ad7a;
}
.beverage-menu h2 {
    text-align: center;
    color:#8b451f;
    font-size: 30px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 20px;
}
.beverage-item img{
    width :110px;
    height: 90px;
    object-fit:cover;
    border-radius:8px;
    grid-column:1;
    grid-row: 1 / 4;
}

.beverage.price{
    grid-column: 3;
    grid-row: 1;
    font-weight: bold;
    color:#8b451f
}
.beverage-item{
    display: grid;
    grid-template-columns: 120px 1fr auto;
    grid-template-rows: auto auto auto;
    column-gap: 20px;
    padding: 20px 0;
    border-bottom: 1px dotted #999;
}












